@import "./input.scss";

*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body{
    overflow-x: hidden;
    background: lightgray;
    color: white;
}


@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
        input{
            color: white;
        }
        navbar navbar-light {
            background-color: #333 !important;
        }
        .projet {
            border: solid 2px #333;
            padding: 3%;
            border-radius: 5px;
            word-wrap: break-word;
            margin:15px;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: #333;
        input{
            color: #333;
        }
        navbar navbar-light {
            background: #ddd !important;
        }
        .projet {
            border: solid 2px #ddd;
            padding: 3%;
            border-radius: 5px;
            word-wrap: break-word;
            margin:15px;
        }
    }
}

    .row {
        background: rgb(64, 223, 24) !important;
        margin: 5%  !important;
        border-radius: 7px;
        word-wrap: break-word;
    }






